*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #ffffff;
    padding-top: 15px;
    
}

nav{
    width: 100%; 
    max-width: 1600px;
    padding-left: 119px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 344px;
    
}


.logo {
    width: 138px;
    height: 60px;
}
.nav{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


nav .menu{
    display: flex;
    gap: 34px;
    align-items: center;
    list-style: none;
    white-space: nowrap;
}

nav .menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
}

.menu li:hover {
    background-color:rgb(164, 193, 33);
    
}


.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 17px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-left: 346px;
    margin-right: 121px;
    cursor: pointer;
}
 /* btn{
    margin-left: 0;
    margin-right: 0;
} */
 .btn-primary{
    background-color: #30B868; 
    color: #FFFFFF;
}

.btn-secondary{
    background-color: #b8bec9;
    color: #000000;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    padding: 13px 17px;
    gap: 10px;
    box-sizing: border-box;
    border: none;
    
}



.banner-section{
    
    
    width: 100%;
    min-height: 800px;
    background-image: linear-gradient(rgba(113, 102, 102, 0.6), rgba(0,0,0,0.6)), url('/B13-A01-Knowledge-Vault/assets/hero-bg.png');
    background-size: cover;
    
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 22px;
    margin: 18px 0;
    
}



.box-container{
    display: inline-flex;
    align-items: center;
    padding: 9.5px 12px;
    border: 1px solid #c1c5c3;
    border-radius: 50px;
    gap: 12px;
    background-color: #ffffff;
    color: #30B868;
}


h1{
    font-size: 73px;
    font-weight: 700;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
    font-style: bold;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 16px;
}

.text-color{
    color: #30B868;
}

.heading{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
    
}

.btn-primary{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-style: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 4px;
}

.do h2{
color: #001931;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0%;
text-align: center;


}

.do p{
    color: #4F5665;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;   
    padding: 16px 120px;
}

.feature-container{
    display: flex;
    justify-content:center;
    max-width: 1200px;
    flex-wrap: wrap;
     gap: 16px;
    padding: 24px;

}

.card{
    background: white;
    padding: 30px 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: center;
    
    
}

.icon{
    background-color: #ff5e5e;
    display: flex;
     justify-content: center;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin: 0 auto 20px;
}

.icon img{
    width: 32px;
    height: 32px;
}

.card h3{
    color: #0d1b3e;
    font-size: 20px;
    margin-bottom: 15px;
}

.card p{
    color: #4F5665;
    font-size: 16px;
    line-height: 24px;
}
.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 120px;
    

}

.check-circle{
    list-style: none;
    padding: 0;
}

.app-content{
    max-width: 700px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.span{
    color: #30b868;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    
}

.app-content h3{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}

.description{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.check-circle li{
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    

}

.check-circle img{
    width: 24px;
    height: 24px;

}

.des-section{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.container{
    background-color: #f7f6f2;
    gap: 24px;
    align-items: center;
    display: flex;
    text-align: center;
    width: 1360px;
    padding: 80px 40px;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
    
}

.section{
    padding: 120px;
    display: flex;
    justify-content: center;
}

.container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    line-height: 48px;

}

.container{
    background-color: #f7f6f2;
    max-width: 1360px;
    width: 100%;
    padding: 80px 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.sub-description{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
}



.pg{
    color: #627382;
    margin-top: 18px;
    
    font-size: 16px;
}
footer{
    background-color: #001931;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 120px 120px 30px 120px;
}

.footer-content{
    display: flex;
    max-width: 1360px;
    width: 100%;
    margin-bottom: 80px;
     justify-content: space-between;
    align-items: flex-start;

}

.social-links {
    color: white;
    text-align: right;
}

.social-links .icons {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.link{
    background-color: #b8bec9;
    width: 28px;
    border-radius: 8px;
    
}

.copyright{
    border-top: 1px solid #FFFFFF1A;
    max-width: 1360px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

.copyright p{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}